In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
from urllib.request import Request, urlopen
import time

# 주유소 기본 정보 가져오기

#### 1개 시험해보기

In [3]:
driver = webdriver.Chrome("../driver/chromedriver.exe")
driver.get("https://www.opinet.co.kr/searRgSelect.do")

In [24]:
driver.find_element_by_xpath('''//*[@id="SIDO_NM0"]''').click() #지역 클릭
driver.find_element_by_xpath('''//*[@id="SIDO_NM0"]/option[2]''').click() # 서울 클릭
time.sleep(2)

In [103]:
si_gun_gu_raw = driver.find_element_by_xpath('''//*[@id="SIGUNGU_NM0"]''')
si_gun_gu_list = si_gun_gu_raw.find_elements_by_tag_name("option")

driver.find_element_by_xpath('''//*[@id="SIGUNGU_NM0"]''').click() #시군구 클릭
time.sleep(1)
si_gun_gu_list[4].click()

In [104]:
tbody = driver.find_element_by_id("body1")
station_href_list = tbody.find_elements_by_tag_name("a")
station_href_list[6].click()

In [105]:
req = driver.page_source #현재 페이지의 html코드 가져오기
soup = BeautifulSoup(req, 'html.parser')

In [106]:
station_info = soup.find(id = "os_dtail_info")
logo = station_info.find(id="os_title_icon")["alt"]
station_name = station_info.find(id="os_nm").get_text()
self = "T" if station_info.find(id="self_icon") is not None else "F"
gasoline_price = station_info.find(id="b027_p").get_text()
gasoline_price = gasoline_price.replace(',', '')
diesel_price = station_info.find(id="d047_p").get_text()
diesel_price = diesel_price.replace(',', '')
station_address = station_info.find(id="rd_addr").get_text()
gu = station_address.split(" ")[1]
print(logo+"/"+station_name+"/"+self+"/"+gasoline_price+"/"+diesel_price+"/"+station_address+"/"+gu)

sk에너지/지에스칼텍스㈜ 경인고속주유소/T/1734/1607/서울 강서구 국회대로 225 (화곡동)/강서구

## 전체 주유소 데이터 가져오기

In [171]:
driver.find_element_by_xpath('''//*[@id="SIDO_NM0"]''').click() #지역 클릭
driver.find_element_by_xpath('''//*[@id="SIDO_NM0"]/option[2]''').click() # 서울 클릭
time.sleep(2)

In [172]:
si_gun_gu_raw = driver.find_element_by_xpath('''//*[@id="SIGUNGU_NM0"]''')
si_gun_gu_list = si_gun_gu_raw.find_elements_by_tag_name("option")

In [173]:
from tqdm import tqdm

station_name_list = []
station_address_list = []
logo_list = []
gasoline_price_list = []
diesel_price_list = []
self_yn = []
gu_list = []
wash_yn = []
charger_yn = []
maint_yn = []
cvs_yn = []
sel24_yn = []


for i in tqdm(range(1, len(si_gun_gu_list))):
    si_gun_gu_raw = driver.find_element_by_xpath('''//*[@id="SIGUNGU_NM0"]''')
    si_gun_gu_list = si_gun_gu_raw.find_elements_by_tag_name("option")
    
    driver.find_element_by_xpath('''//*[@id="SIGUNGU_NM0"]''').click() #시군구 클릭
    time.sleep(1)
    si_gun_gu_list[i].click()
    time.sleep(1)
    
    tbody = driver.find_element_by_id("body1")
    station_href_list = tbody.find_elements_by_tag_name("a")
    
    for j in range(0, len(station_href_list)):
        station_href_list[j].click()
        
        req = driver.page_source #현재 페이지의 html코드 가져오기
        soup = BeautifulSoup(req, 'html.parser')
        
        station_info = soup.find(id = "os_dtail_info")
        
        #주유소 이름
        station_name = station_info.find(id="os_nm").get_text()
        station_name_list.append(station_name)
        
        # 주소
        station_address = station_info.find(id="rd_addr").get_text()
        station_address_list.append(station_address)
        
        # 브랜드 로고
        logo = station_info.find(id="os_title_icon")["alt"]
        logo_list.append(logo)
        
        # 휘발유 가격
        gasoline_price = station_info.find(id="b027_p").get_text()
        gasoline_price = gasoline_price.replace(',', '')
        gasoline_price_list.append(gasoline_price)
        
        # 경유 가격
        diesel_price = station_info.find(id="d047_p").get_text()
        diesel_price = diesel_price.replace(',', '')
        diesel_price_list.append(diesel_price)
        
        #셀프
        self = "Y" if station_info.find(id="self_icon") is not None else "N"
        self_yn.append(self)
        
        # 구
        gu = station_address.split(" ")[1]
        gu_list.append(gu)
        
        #세차장
        wash_img = station_info.find(id="cwsh_yn")["src"]
        if charge_img == "/images/user/gis/oil_station_service1_01_off.gif":
            wash_yn.append("N")
        else:
            wash_yn.append("Y")
        
        #충정소
        charge_img = station_info.find(id="lpg_yn")["src"]
        if charge_img == "/images/user/gis/oil_station_service1_02_01_off.gif":
            charger_yn.append("N")
        else:
            charger_yn.append("Y")
            
        #경정비
        maint_yn
        maint_img = station_info.find(id="maint_yn")["src"]
        if maint_img == "/images/user/gis/oil_station_service1_03_off.gif":
            maint_yn.append("N")
        else:
            maint_yn.append("Y")
        
        #편의점
        cvs_yn
        cvs_img = station_info.find(id="cvs_yn")["src"]
        if cvs_img == "/images/user/gis/oil_station_service1_04_off.gif":
            cvs_yn.append("N")
        else:
            cvs_yn.append("Y")
        
        #24시간
        sel24_yn
        sel24_img = station_info.find(id="sel24_yn")["src"]
        if sel24_img == "/images/user/gis/oil_station_service1_05_off.gif":
            sel24_yn.append("N")
        else:
            sel24_yn.append("Y")

100%|██████████████████████████████████████████████████████████████████████████████████| 25/25 [03:14<00:00,  7.79s/it]

In [179]:
import pandas as pd

df_oil = pd.DataFrame(
    {
        "station_name":station_name_list,
        "station_address": station_address_list,
        "brand": logo_list,
        "gasoline_price":gasoline_price_list,
        "diesel_price":diesel_price_list,
        "self":self_yn,
        "gu":gu_list,
        "wash":wash_yn,
        "charger":charger_yn,
        "maint":maint_yn,
        "cvs":cvs_yn,
        "sel24":sel24_yn
    }
)

df_oil.head()

,station_name,station_address,brand,gasoline_price,diesel_price,self,gu,wash,charger,maint,cvs,sel24
0,(주)보성 세곡주유소,서울 강남구 헌릉로 731 (세곡동),sk에너지,1729,1625,Y,강남구,Y,N,N,N,N
1,HD현대오일뱅크㈜직영 산성셀프주유소,서울 강남구 헌릉로 730,sk에너지,1739,1629,Y,강남구,Y,N,N,N,N
2,방죽주유소,서울 강남구 밤고개로 215 (율현동),sk에너지,1757,1659,Y,강남구,Y,N,N,N,N
3,자곡셀프주유소,서울 강남구 밤고개로 120 (자곡동),sk에너지,1761,1664,Y,강남구,Y,N,N,N,N
4,HD현대오일뱅크㈜직영 도곡셀프주유소,서울 강남구 남부순환로 2718 (도곡2동),sk에너지,1769,1659,Y,강남구,Y,N,Y,N,N

In [180]:
df_oil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 439 entries, 0 to 438
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   station_name     439 non-null    object
 1   station_address  439 non-null    object
 2   brand            439 non-null    object
 3   gasoline_price   439 non-null    object
 4   diesel_price     439 non-null    object
 5   self             439 non-null    object
 6   gu               439 non-null    object
 7   wash             439 non-null    object
 8   charger          439 non-null    object
 9   maint            439 non-null    object
 10  cvs              439 non-null    object
 11  sel24            439 non-null    object
dtypes: object(12)
memory usage: 41.3+ KB

In [181]:
df_oil["gasoline_price"] = df_oil["gasoline_price"].astype('int64')
df_oil["diesel_price"] = df_oil["diesel_price"].astype('int64')
df_oil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 439 entries, 0 to 438
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   station_name     439 non-null    object
 1   station_address  439 non-null    object
 2   brand            439 non-null    object
 3   gasoline_price   439 non-null    int64
 4   diesel_price     439 non-null    int64
 5   self             439 non-null    object
 6   gu               439 non-null    object
 7   wash             439 non-null    object
 8   charger          439 non-null    object
 9   maint            439 non-null    object
 10  cvs              439 non-null    object
 11  sel24            439 non-null    object
dtypes: int64(2), object(10)
memory usage: 41.3+ KB

In [182]:
df_oil

,station_name,station_address,brand,gasoline_price,diesel_price,self,gu,wash,charger,maint,cvs,sel24
0,(주)보성 세곡주유소,서울 강남구 헌릉로 731 (세곡동),sk에너지,1729,1625,Y,강남구,Y,N,N,N,N
1,HD현대오일뱅크㈜직영 산성셀프주유소,서울 강남구 헌릉로 730,sk에너지,1739,1629,Y,강남구,Y,N,N,N,N
2,방죽주유소,서울 강남구 밤고개로 215 (율현동),sk에너지,1757,1659,Y,강남구,Y,N,N,N,N
3,자곡셀프주유소,서울 강남구 밤고개로 120 (자곡동),sk에너지,1761,1664,Y,강남구,Y,N,N,N,N
4,HD현대오일뱅크㈜직영 도곡셀프주유소,서울 강남구 남부순환로 2718 (도곡2동),sk에너지,1769,1659,Y,강남구,Y,N,Y,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...
434,(주)기지에너지,서울 중랑구 용마산로 716 (신내동),sk에너지,1759,1619,N,중랑구,Y,N,N,N,N
435,신내주유소,서울 중랑구 용마산로 705 (신내동),sk에너지,1773,1632,Y,중랑구,Y,N,N,N,N
436,신일셀프주유소,서울 중랑구 상봉로 58 (망우동),sk에너지,1789,1698,Y,중랑구,Y,N,Y,N,Y
437,용마로주유소,서울 중랑구 용마산로 309 (면목동),sk에너지,1798,1638,Y,중랑구,Y,N,N,N,N
438,범아주유소,서울 중랑구 동일로 881 (묵동),sk에너지,1849,1689,N,중랑구,Y,N,Y,N,N

In [1]:
driver.quit()

NameError: name 'driver' is not defined

In [183]:
df_oil.to_csv("df_oil.csv", sep=",", encoding="utf-8")

### 위도 경도 추가

In [184]:
import googlemaps
import numpy as np

In [185]:
gmaps_key = "***********************************"
gmaps = googlemaps.Client(key = gmaps_key)

In [186]:
lat = []
lng = []

for idx, row in tqdm(df_oil.iterrows()):

#     if len(row["station_address"].split(')')) < 1:  
#         target_name = row["주소"]
#     else:
#         target_name = ' '.join(row["주소"].split(' ')[:-1])

    target_name = row["station_address"]
    
    gmaps_output = gmaps.geocode(target_name)
    location_output = gmaps_output[0].get("geometry")
    lat.append(location_output["location"]["lat"])
    lng.append(location_output["location"]["lng"])

439it [01:03,  6.96it/s]

In [187]:
df_oil["lat"] = lat
df_oil["lng"] = lng
df_oil.head()

,station_name,station_address,brand,gasoline_price,diesel_price,self,gu,wash,charger,maint,cvs,sel24,lat,lng
0,(주)보성 세곡주유소,서울 강남구 헌릉로 731 (세곡동),sk에너지,1729,1625,Y,강남구,Y,N,N,N,N,37.467157,127.118708
1,HD현대오일뱅크㈜직영 산성셀프주유소,서울 강남구 헌릉로 730,sk에너지,1739,1629,Y,강남구,Y,N,N,N,N,37.466567,127.119080
2,방죽주유소,서울 강남구 밤고개로 215 (율현동),sk에너지,1757,1659,Y,강남구,Y,N,N,N,N,37.474993,127.106887
3,자곡셀프주유소,서울 강남구 밤고개로 120 (자곡동),sk에너지,1761,1664,Y,강남구,Y,N,N,N,N,37.483400,127.104046
4,HD현대오일뱅크㈜직영 도곡셀프주유소,서울 강남구 남부순환로 2718 (도곡2동),sk에너지,1769,1659,Y,강남구,Y,N,Y,N,N,37.485462,127.043218

In [188]:
df_oil.to_csv("df_oil.csv", sep=",", encoding="utf-8")

# 가격 비교

In [191]:
pd.pivot_table(
    df_oil,
    index=["self"],
    values=["gasoline_price","diesel_price"],
    aggfunc=[np.average],
)

          average
     diesel_price gasoline_price
self
N     1794.166667    1903.143678
Y     1651.128302    1764.784906

In [192]:
pd.pivot_table(
    df_oil,
    index=["gu" ,"self"],
    values=["gasoline_price","diesel_price"],
    aggfunc=[np.average],
)

               average
          diesel_price gasoline_price
gu   self
강남구  N     2037.066667    2133.000000
     Y     1755.052632    1848.052632
강동구  N     1772.200000    1881.600000
     Y     1685.888889    1790.888889
강북구  N     1639.000000    1779.000000
     Y     1610.818182    1751.727273
강서구  N     1689.000000    1814.000000
     Y     1649.173913    1766.869565
관악구  N     1696.444444    1792.555556
     Y     1656.400000    1747.400000
광진구  N     1661.600000    1799.000000
     Y     1613.875000    1761.375000
구로구  N     1710.909091    1839.000000
     Y     1652.375000    1753.125000
금천구  N     1652.666667    1745.666667
     Y     1672.750000    1743.250000
노원구  N     1687.000000    1809.250000
     Y     1630.100000    1759.300000
도봉구  N     1618.000000    1748.000000
     Y     1620.000000    1754.857143
동대문구 N     1644.857143    1770.000000
     Y     1652.363636    1767.727273
동작구  N     1708.666667    1814.666667
     Y     1689.000000    1777.333333
마포구  N     1706.857143    1814.142857
     Y     1671.500000    1782.000000
서대문구 N     1662.400000    1786.400000
     Y     1653.100000    1775.800000
서초구  N     1728.600000    1826.000000
     Y     1661.133333    1760.866667
성동구  N     1818.600000    1931.100000
     Y     1647.833333    1764.333333
성북구  N     1653.166667    1764.333333
     Y     1617.875000    1754.000000
송파구  N     1695.888889    1807.222222
     Y     1658.473684    1765.052632
양천구  N     1645.500000    1758.333333
     Y     1625.444444    1742.166667
영등포구 N     1834.454545    1917.454545
     Y     1635.133333    1735.666667
용산구  N     2096.333333    2192.500000
은평구  N     1656.000000    1771.000000
     Y     1645.571429    1733.857143
종로구  N     2002.833333    2150.666667
     Y     1670.666667    1797.333333
중구   N     2107.375000    2184.375000
     Y     1652.000000    1797.000000
중랑구  N     1654.000000    1804.000000
     Y     1612.545455    1756.545455

# 결론

- 셀프 주유소에서 휘발유는 평균적으로 138.36원 쌌고, 경유는 143.04원 정도 더 저렴하였다.
- 따라서 셀프 주유소는 보통 주유소보다 유의미하게 저렴하다.